<span 
    class="bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5
    rounded dark:bg-blue-900 dark:text-blue-300 text-pretty">
    <slot />
</span>

<style>
  .badge {
    background-color: #007bff;
    color: white;
    padding: 0.15em 0.4em;
    border-radius: 0.2em;
    font-size: 0.75em;
  }
</style>